[metadata]
name = "dfint localization hook offsets"
version = "{{ version_name }}"
checksum = {{ checksum | hex }}

[offsets]
string_copy_n = {{ string_copy_n | hex }}
string_append_n = {{ string_append_n | hex }}
std_string_ctor = {{ std_string_ctor | hex }}
addst = {{ addst | hex }}
addst_top = {{ addst_top | hex }}
addst_flag = {{ addst_flag | hex }}
standardstringentry = {{ standardstringentry | hex }}
simplify_string = {{ simplify_string | hex }}
upper_case_string = {{ upper_case_string | hex }}
lower_case_string = {{ lower_case_string_0 | hex }}
capitalize_string_words = {{ capitalize_string_words | hex }}
capitalize_string_first_word = {{ capitalize_string_first_word | hex }}
